/*
	Legacy support
	Only browsers with >0.1% market share are noted

	Optional features (unsupported browsers):
		text-rendering (IE –11, Edge –18, Firefox –76 on Mac, Chrome –83 on Mac, Android –4.3, Samsung –11.1)
			! Android –4.3 breaks rendering of custom fonts with text-rendering: optimizeLegibility
		overflow-wrap (IE –11, Edge –17, O Mini, Android –4.3, KaiOS 2.5) fallback on deprecated alias word-wrap
		hyphens (IE –9, Chrome –54, Chrome 55–83 partial, Opera 42–66 partial, O Mini all, Android –4.4.4, Android Chrome 80 partial, UC 12.12 partial, Samsung 4, QQ 1.2) -moz- for Firefox 6–42, -ms- for IE 10–11, Edge 12–18, -webkit- for Safari 5.1–13.1 & iOS 4.2–13.4,
		hyphens for English (IE –9, Chrome –54, Android –4.4.4, Samsung –4)
		tab-size (IE –11, Edge –18, Android –4.3), -moz- for Firefox 4–76 & Firefox Android 68 & KaiOS 2.5, -o- for Opera 11.5–12.1 & O Mini & O Mobile 12–12.1
		width: max-content (IE –11, Edge –18, Android –4.4.4, Samsung –4) -moz- for Firefox 3–65, -webkit- for Chrome 22–45, intrinsic value for Safari 3.1–10.1 & iOS 3.2–10.3
		:visited (Android –4.3)
		border-radius (IE –8, O Mini) -moz- for Firefox 2–3.6, -webkit- for Chrome 4 & Safari 3.1–4 & iOS 3.2 & Android 2.1
		font-feature-settings (IE –9, O Mini, Android –4.3) -moz- old syntax for Firefox 4–14, -moz- for Firefox 15–33, -webkit- for Chrome 16–47 & Opera 15–34 & Android 4.4–4.4.4 & Samsung 4

	Features with fallback mechanisms (unsupported browsers):
		initial value (IE –11, O Mini all) -moz- for Firefox 2–3
		vw units (IE –8, O Mini, Android –4.3)
		calc() (IE –11, Safari 5.1, O Mini, Android –4.3) -moz- for Firefox 4–15, -webkit- for Chrome 19–25 & Safari 6 & iOS 6.1
			! IE 9 crashes when used in the background-position property
			! Various known issues: https://caniuse.com/#feat=calc
		text-align: start or end (IE –11, Edge –18, Android –4.4.4)
		::first-letter (IE –8) ffbug workaround for Firefox using -moz-animation & @-moz-keyframes

	Features with no implemented fallback mechanisms (and browsers with no support):
		@supports (IE 8, IE11, Safari 5.1)
		margin: auto (Android –4.4.4)
		rem units (IE –8, IE 9–10 partial)
			! IE 9–10 ignores entire declaration when used in pseudo-elements or in the font shorthand property
		vh units (IE –8, O Mini, Android –4.3)
		:hover (Android –4.4.4)
*/



/*
	Section elements
*/
html {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 24px;

	margin: 0;
	padding: 0;

	color: darkslategray;

	/* Nominally an SVG property but good for Chrome; breaks Android 4.3 */
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0;
	padding-bottom: 3rem;

	background-color: snow;
	color: darkslategray;

	/* Workaround for IE bug with margin: auto column centring; parent container needs this. */
	text-align: center;
}

main {
	margin: 1.5rem auto;
	padding: 0;

	text-align: left;
	text-align: start;
	text-align: -moz-initial;
	text-align: initial;

	width: 40rem;  /* $column-width */
	max-width: 90%;
	max-width: calc(100% - 2rem);
	max-width: 91.666667vw;  /* 100vw - 2 * $main-margin */
}

nav {
	margin: 1.5rem auto;
	padding: 0;

	text-align: left;
	text-align: start;
	text-align: -moz-initial;
	text-align: initial;
}

article {
	margin: 1.5rem auto;
	padding: 0;

	text-align: left;
	text-align: start;
	text-align: -moz-initial;
	text-align: initial;

	/* CSS3 Text */
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;

	word-wrap: break-word;  /* alias of overflow-wrap */
	overflow-wrap: break-word;

	text-indent: 0;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

header {
	margin: 1.5rem auto;
	padding: 0;

	text-align: left;
	text-align: start;
	text-align: -moz-initial;
	text-align: initial;
}

footer {
	margin: 1.5rem auto;
	padding: 0;

	text-align: left;
	text-align: start;
	text-align: -moz-initial;
	text-align: initial;
}

section {
	margin: 1.5rem auto;
	padding: 0;

	text-align: left;
	text-align: start;
	text-align: -moz-initial;
	text-align: initial;
}



/*
	Text elements
*/
p {
	margin-top: 0.75rem;
	margin-bottom: 1.5rem;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

h1 {
	font-family: serif;
	font-size: 2rem;
	line-height: 2.25rem;

	margin-top: 2.25rem;
	margin-bottom: 1.5rem;
	margin-left: 0;
	margin-right: 0;
	padding: 0;

	/* CSS3 Text */
	-moz-hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
h2, h3, h4, h5, h6 {
	margin-top: 2.25rem;
	margin-bottom: 0.75rem;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
hgroup > h1, hgroup > h2, hgroup > h3, hgroup > h4, hgroup > h5, hgroup > h6 {
	margin-top: 0;
}
hgroup {
	margin-top: 2.25rem;
	margin-bottom: 0.75rem;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
h2 {
	font-size: 1.425rem;
	font-weight: bold;
}
h3 {
	font-size: 1.14rem;
	font-weight: bold;
}
h4 {
	font-size: 0.95rem;
	font-weight: bold;
}
h5 {
	font-size: 0.855rem;
	margin-left: 1rem;

	font-weight: bold;
}
h6 {
	font-size: 0.855rem;
	margin-left: 2rem;

	font-weight: bold;
	font-style: italic;
}

hr {
	margin: 2.25rem 0;
	margin-bottom: calc(2.25rem - 1px);
	padding: 0;

	border: 0;
	border-bottom: 1px solid darkslategrey;
}



/*
	Figure elements
*/
figure {
	margin-top: 0.75rem;
	margin-bottom: 2.25rem;

	/* Expand outside the column to be bounded by page instead */
	/* If calc or vw not supported, simply fall back to being bounded by column */
	/* 50vw - $main-margin */
	margin-left: calc(50% - 45.833333vw);
	margin-right: calc(50% - 45.833333vw);
}

figcaption {
	/* Effectively centre for single line, left-align for multiple lines */
	width: -moz-max-content;
	width: -webkit-max-content;
	width: intrinsic;
	width: max-content;
	max-width: 40em;  /* $column-width */

	margin: 0.75rem auto;  /* figcaption may be above or below */

	text-align: left;
}

figure > img, figure > table {
	display: block;
	margin: 0 auto;
}

figure.g-bounded {
	margin-left: 0;
	margin-right: 0;
}
figure.g-bounded > img, figure.g-bounded > table {
	max-width: 100%;
}

img {
	margin-top: 0.75rem;
	margin-bottom: 2.25rem;
	margin-left: 0;
	margin-right: 0;

	max-height: 90vh;
}



/*
	Table elements
	Defect: gridding of td, th padding and border 1px
*/
table {
	margin-top: 0.75rem;
	margin-bottom: 2.25rem;
	margin-left: 0;
	margin-right: 0;

	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-collapse: collapse;

	hyphens: auto;
}
td, th {
	padding: 0.2em 0.5em;
}
th, thead td {
	text-align: center;
}
thead, tbody {
	border-bottom: 1px solid lightgrey;
}



/*
	Inline elements
*/
a {
	color: maroon;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: #600000;
}

code {
	font-family: monospace;
	line-height: 1.3rem;  /* border-radius increases line height */
	line-height: calc(1.5rem - 0.2em);

	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;

	background-color: aliceblue;
}

/* Bugfix for Firefox adding extra space after an element that has display: inline-block and a ::first-letter with a change of font-size; fixed by forcing reflow */
@-moz-keyframes ffbug { from { padding-right: 0.1px ; } to { padding-right: 0; } }
abbr {
	/* CSS3 Font (generic OpenType features) */
	/* Low-level syntax for compatibility; do not use for smallcaps */
	-moz-font-feature-settings: "c2sc=1";
	-moz-font-feature-settings: "c2sc";
	-webkit-font-feature-settings: "c2sc";
	font-feature-settings: "c2sc";
}
abbr.g-capital {
	display: inline-block;

	margin: 0;
	padding: 0;

	-moz-animation: ffbug 1s ease 1s 1;
}
abbr.g-capital::first-letter {
	/* CSS3 Font (generic OpenType features) */
	/* Low-level syntax for compatibility; do not use for smallcaps */
	-moz-font-feature-settings: "c2sc=0";
	-moz-font-feature-settings: "c2sc" off;
	-webkit-font-feature-settings: "c2sc" off;
	font-feature-settings: "c2sc" off;
}



/*
	Inline classes
*/
.g-nohyphen {
	-moz-hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}



/*
	Unhide content after CSS is loaded
	Add id="bodymask" to body element and apply
		body { visibility: hidden; }
	in internal stylesheet of HTML file, to be overwritten by the following
*/
#g-bodymask {
	visibility: visible;
}
